{% extends 'base.html.twig' %}

{% block title %}Memo index{% endblock %}

{% block body %}
    <h1>Memo index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Contenu</th>
                <th>Delai</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for memo in memos %}
            <tr>
                <td>{{ memo.id }}</td>
                <td>{{ memo.contenu }}</td>
                <td>{{ memo.delai }}</td>
                <td>
                    <a href="{{ path('memo_show', {'id': memo.id}) }}">show</a>
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('memo_new') }}">Create new</a>
{% endblock %}
