{% extends 'base.html.twig' %}

{% block title %}Memo{% endblock %}

{% block body %}

    <h1>Memo</h1>

{% if memo.active %}
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ memo.id }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ memo.contenu }}</td>
            </tr>
            <tr>
                <th>Delai</th>
                <td>{{ memo.delai }}</td>
            </tr>
        </tbody>
    </table>
{% else %}
<h1>Contenu expiré</h1>
<p>Desole, le memo associe a cette URL n'est plus accessible</p>
{% endif %}
    <a href="{{ path('memo_index') }}">back to list</a>

    

    {{ include('memo/_delete_form.html.twig') }}
{% endblock %}
